doctype html
html
    head
        style
            include main.css
    body
        div.header
            block content
        div.footer
            |З найкращими побажаннями
            br
            |М'ясниця
            a(href=frontendURL) Перейти
